source https://www.nuget.org/api/v2

nuget EasyHttp 1.6.69.0
nuget HtmlAgilityPack 1.4.9
nuget JsonFx 2.0.1209.2802
nuget NSubstitute
nuget Newtonsoft.Json 6.0.8
nuget NUnit 2.6.4
nuget TeamCitySharp-forked 1.0.0.4